<div class="animate__animated animate__fadeIn">
 
    <ejs-grid #grid 
              [dataSource]='data' 
              [allowPaging]="true" 
              [pageSettings]='pageSettings' 
              [allowSorting]='true' 
              [sortSettings]='sortOptions'
              [toolbar]="toolbar"
              enableStickyHeader=true 
              [showColumnChooser]= 'true'
              (toolbarClick)='clickHandler($event)'
              (commandClick)="commandClick($event)"
              [editSettings]='editSettings' 
              >
      <e-columns>
          <e-column headerText="Opciones" width="50" [commands]="commands"></e-column>
          <e-column field='idProvincia' headerText='Id' width='120' textAlign='Right' [showInColumnChooser]='false' [visible]="false" [isPrimaryKey]="true"></e-column>
          <e-column field='descripcion' headerText='Descripción' width='120'  ></e-column>
          <e-column field='pais.descripcion' headerText='País' width='120'  ></e-column>
          <e-column field='pais.region.descripcion' headerText='Región' width='120'  ></e-column>
          <e-column field='usuarioCreacion' [visible]='false' headerText='Creado por' width='120'  ></e-column>
          <e-column field='fechaCreacion' [visible]='false' headerText='Fecha Creación' width='120'  ></e-column>
          <e-column field='equipoCreacion' [visible]='false' headerText='Creado desde' width='120'  ></e-column>
          <e-column field='usuarioModificacion' [visible]='false' headerText='Modificado por' width='120'  ></e-column>
          <e-column field='fechaModificacion' [visible]='false' headerText='Fecha Modificación' width='120'  ></e-column>
          <e-column field='equipoModificacion' [visible]='false' headerText='Modificado desde' width='120'  ></e-column>
      </e-columns>
  </ejs-grid>

</div>
