<c-row>
    <c-col>
        <form 
        (submit)="guardarCambios()"
        [formGroup]="form">

        <c-card>
            <div class="modal-header">
                <h4 class="modal-title">Ingrese la nueva contraseña</h4>
                <button type="button" (click)="cerrar()" cButtonClose>
                </button>
              </div>
            <c-card-body>                                                    
                             
                    <c-col>
                        <input type="text" name="username" autocomplete="username" aria-hidden="true" style="display: none;">
                    </c-col>
                    <c-col >
                        <label cLabel>Contraseña actual</label>
                        <input (keydown)="onKeydown($event, 'Password')" cFormControl  [valid]="form.get('Password').valid" id="Password" autocomplete="off" formControlName="Password" type="password" #inputPassword />  
                        <c-form-feedback [valid]="form.get('Password').valid">{{obtenerError('Password')}}</c-form-feedback>
                    </c-col>

                    <c-col >
                        <label cLabel>Nueva contraseña</label>
                        <input cFormControl (keydown)="onKeydown($event, 'NewPassword')"  [valid]="form.get('NewPassword').valid" id="NewPassword" autocomplete="off" formControlName="NewPassword" type="password" #inputNewPassword/>  
                        <c-form-feedback [valid]="form.get('NewPassword').valid">{{obtenerError('NewPassword')}}</c-form-feedback>
                    </c-col>

                    <c-col >
                        <label cLabel>Repita la nueva Contraseña</label>
                        <input cFormControl (keydown)="onKeydown($event, 'NewPasswordRepeat')" [valid]="form.get('NewPasswordRepeat').valid" id="NewPasswordRepeat" autocomplete="new-password" formControlName="NewPasswordRepeat" type="password" #inputNewPasswordRepeat/>   
                        <c-form-feedback [valid]="form.get('NewPasswordRepeat').valid">{{obtenerError('NewPasswordRepeat')}}</c-form-feedback>                 
                    </c-col>

            </c-card-body>
            <c-card-footer>
                <c-button-group aria-label="Basic mixed styles example" role="group">
                    <button cButton color="primary" variant="outline" type="submit" [disabled]="form.invalid" >
                        <c-spinner [hidden]="!loading" component="span" aria-hidden="true" size="sm"></c-spinner>
                        Guardar
                    </button>    
                    <a cButton color="secondary" variant="outline" (click)="cerrar()">
                        Cancelar
                    </a>  
                  </c-button-group>
            </c-card-footer>
        </c-card>
    </form>
    </c-col>
</c-row> 
