<div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Listado de Audios</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cerrar()" cButtonClose></button>
    </div>
    <div class="modal-body">
        <div class="control-section">
            <div class="col-lg-12">
                <ejs-grid #grid id='DefaultExport'  [dataSource]="dataImg" [allowPaging]="true"   (commandClick)="commandClick($event)" [pageSettings]='pageOption' [allowResizing]="true" [allowSorting]='true'  [toolbar]='toolbar' enableStickyHeader=true  height='200'>
                    <e-columns>
                        <e-column field='numero' headerText='Id' width='10' textAlign='Right' [visible]="false" [isPrimaryKey]="true"></e-column>
                        <e-column  headerText='Audios' width='150' textAlign='Center'>
                          
                                <ng-template #template let-data>
                                   {{data.numero}}  Audio
                                </ng-template>
                              
                        </e-column>    
                        <e-column headerText="Reproducir" width="75" [commands]="commands" textAlign="center"></e-column>               
                    </e-columns>     
                </ejs-grid>
            </div>     


            </div>

        </div>
        </div>
    
