<div class="right-z-index-top-toolbar">
    <ejs-toolbar height="25px"  width='100%'>
        <e-items>
            <e-item text='Nuevo'  prefixIcon='e-icons e-plus' overflow='Show' showTextOn='overflow' [routerLink]="['/ruterovendedor/nuevo']"></e-item>
            <e-item text='Consultar' (click)="search()"  prefixIcon='e-icons e-search'  overflow='Show' showTextOn='overflow'></e-item>  
        </e-items>
    </ejs-toolbar>
</div>   

<br/>
<form [formGroup]="Form">
<div class="row">
    <div class="col-sm-12">
        <div class="card border">
            <div class="card-header">
                <svg [cIcon]="icons.cilSearch" size="lg" title="List Icon" class="mr-2"></svg>&nbsp;  Búsqueda
             </div>

            <div class="card-body">
                <div class="row">
                    <c-row class="mt-2">
                        <c-col lg="4">
                            <label cLabel>Desde:</label>
                            <input cFormControl id="fechadesde" formControlName="fechadesde" sizing="sm" type="date">                   
                        </c-col>
                        <c-col lg="4">
                            <label cLabel>Hasta:</label>
                            <input cFormControl id="fechahasta" formControlName="fechahasta" sizing="sm" type="date">                                
                        </c-col>
                        <c-col lg="4">
                            <label cLabel>Vendedor:</label>
                            <ejs-combobox  id='vendedor' formControlName="vendedor" [allowCustom]="false" [dataSource]='cbVendedor'   [fields]= 'localFielvendedor'></ejs-combobox>                                 
                        </c-col>
                        </c-row>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>

<div class="row" style="margin-top: 10px;">
    <div class="col-sm-12">

        <div class="animate__animated animate__fadeIn">
            <c-card class="mb-4">
              <c-card-header>
                Detalle Rutero
              </c-card-header>
              <c-card-body>  
                <div class="control-section">
                    <ejs-grid #grid id='MasterDetailsExport' [dataSource]='crutas' [toolbar]="toolbar" (commandClick)="commandClick($event)" [childGrid]="childGrid" [searchSettings]='searchSettings'>
                        <e-columns>
                            <e-column field='id_cab' headerText='Id' width='100' textAlign='center'></e-column>
                            <e-column headerText="" width="150" [commands]="commands"></e-column>
                            <e-column field='nvendedor' headerText='Vendedor' width='100' textAlign='left'></e-column>
                            <e-column field='estado_general' headerText='Estado' width='80'>
                                <ng-template #template let-contactosList>
                                    @if(contactosList.estado_general === 'Completado') {
                                    <span class="badge bg-success me-1">Completado</span>
                                    }@else if(contactosList.estado_general === 'En Proceso') {
                                    <span class="badge bg-secondary me-1">En Proceso</span>
                                    }
                                    @else if(contactosList.estado_general === 'Pendiente') {
                                    <span class="badge bg-primary me-1">Pendiente</span>
                                    }
                  
                                  </ng-template>
                              </e-column>

                            <e-column field='fecha' headerText='Fecha' width='130' textAlign='center'>
                                <ng-template #template let-data>
                                    {{ data.fecha | date: 'yyyy-MM-dd' }}
                                </ng-template>
                            </e-column>
                            <e-column field='observacion' headerText='Observación' width='150'></e-column>

                        </e-columns>
                    </ejs-grid>
                </div>
              </c-card-body>
            </c-card>
                    
            </div>
            </div>
            </div>
        </form>
